registry=https://nexus.cws.digital/repository/npm-private/
# _auth=ZGV2ZWxvcGVyOmNhbmFsZGFwZWNh
email=admin@example.org
always-auth=true
//https://nexus.cws.digital/repository/npm-group/:_auth=YWRtaW46WFhYWFhY
//https://nexus.cws.digital/repository/npm-private/:_auth=YWRtaW46WFhYWFhY

